wiki
**/*.bak
**/.vscode
**/*.swp
**/*.swo
**/*.log
**/tags
**/tags.*
.husky/
commitlint.config.js
scripts/awslogs/*.conf
doc/html/
doc/template/*.js
src/config/*.json
src/config/*.org
src/config/common/*
src/config/secret/*
test/test.json
test/env.json
node_modules/
mtest/
.env
